# Application
APP_PORT=8080
APP_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=viscraft
DB_USER=postgres
DB_PASSWORD=your_db_password

# Pollinations API KEY
POLLINATIONS_API_KEY=your_api_key

# Storage
STORAGE_PATH=/app/storage/images
STORAGE_PUBLIC_URL=http://localhost:8080/storage/images
STORAGE_TEMP_PUBLIC_URL=http://localhost:8080/storage/temp

# JWT Authentication
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRY=24h
